name: Pull Request

on:
  pull_request:

jobs:
  qa:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: oliversalzburg/action-commit-validator@v0.0.4
        with:
          accept-breaking-changes: false
          accept-emoji: false
          accepted-scopes: |
            api
            build
            deps
            deps-dev
          accepted-types: |
            chore
            ci
            docs
            feat
            fix
            refactor
            test
          repo-token: ${{ secrets.GITHUB_TOKEN }}
